@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
scroll-behavior: smooth;
}

div, p, span, button {
    font-family: 'Poppins', sans-serif;
}

#conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

#conteudo1 {
    position: absolute;
    width: 100%;
}

.linha_txt {
    background-color: #0069b3;
    border-width: 2px;
    width: 20%;
}
#linha_txt_mvv {
    background-color: #0069b3;
    border-width: 2px;
    width: 60%;
}

.titulo_entrada {
    text-align: center;
    font-weight: bold;
}

#carouselExampleControls {
    border-top: double 3px #0069b3;
    border-bottom: double 3px #0069b3;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 1em #57a8f3;
}

.botoes_carrossel_div {
    display: none;
}

#botoes_carrossel_botao {
    background-color: #595959;
}

#txt_entrada {
    text-align: center;
}

#txt_redes_serv {
    text-align: center;
}

#txt_contato {
    text-align: center;
}

.titulos {
    text-align: center;
}

.textos {
    text-align: justify;
}

#redes_serv {
    border-left: solid 3px #0069b3;
    padding: 25px;
    border-right: solid 3px #0069b3;
    border-radius: 1%;
}

#equipe {
    border-left: dashed 5px #0069b3;
    padding: 20px;
    border-right: dashed 5px #0069b3;
    border-radius: 3%;
}

.imgs_sobre {
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px inset #0069b3;
    box-shadow: 0 0 1em #57a8f3;
}
.img_redes_serv {
    width: 110px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.spans_sobre {
    background: radial-gradient(circle, rgba(0,112,184,1) 0%, rgba(0,212,255,1) 0%, rgba(0,110,182,1) 0%, rgba(0,105,179,1) 65%, rgba(0,212,255,1) 100%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bttn_abrir_desc1 {
transition: 0.5s;
}

#bttn_abrir_desc1:hover {
transform: scale(1.1);
}

#bttn_abrir_desc2 {
transition: 0.5s;
}
    
#bttn_abrir_desc2:hover {
transform: scale(1.1);
}

#bttn_abrir_desc3 {
transition: 0.5s;
}
        
#bttn_abrir_desc3:hover {
transform: scale(1.1);
}

#form_ctt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-control {
    border: #5c5c5c solid 1px;
}

#bttn_enviar {
    padding: 10px;
    background-color: #0068b3c9;
    transition: 0.5s;
}

#bttn_enviar:hover {
    background-color: #0069b3;
    border: 1px solid #b3b2b2af;
}
